:root
{
	--choice_bg: #847e87;
	--hover_gray: #38373b;
	--grid_background: #847e8790;
	--choice_border: #444444;
    --checked_bg: #4b3861;
}

html
{
	background-image: url(../img/background.jpg);
	background-repeat: repeat-y;
	background-size: cover;
}

html, body
{
	height: 100%;	
}

body
{
	color: white;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#grid
{
	min-width: 50%;
	max-width: 90%;
	border-radius: 10px;
	background-color: #847e8790;
	margin: 0 auto;
	box-shadow: 0px 0px 50px green;
	margin-top: 1%;
	min-height: 90%;
}

#quiz
{
	width: 80%;	
	margin: 20px auto 0;
	text-align: center;
}

#homeButton
{
    height: 80px;
    width: 76px;
    position: absolute;
    left: 10%;
    top: 45%;
}

#question
{
    font-size: 40px;
}

#progress
{
    font-size: 20px;
}

.space2
{
	height: 10px;
}

.space
{
	height: 50px;
}

input[type="radio"]
{
	opacity: 0;
	position: fixed;
	width: 0;	
}

label
{
	background-color: var(--choice_bg);
	border: 2px solid var(--choice_border);
	border-radius: 5px;
	padding: 20px 40px;
	margin-top: 50px;
	transition: ease-in 0.2s;
    font-size: 30px;
}

input[type="radio"]:checked + label
{
	background-color: var(--checked_bg);
	border-color: black !important;
}

label:hover
{
	background-color: var(--hover_gray);
}


#check, #next, #answerButton
{
    width: 240px;
    height: 80px;
    font-size: 25px;
    background-color: var(--hover_gray);
    color: white;
    border: 2px solid white;
	border-radius: 5px;
}

#check:hover, #next:hover, #answerButton
{
    background-color: var(--checked_bg);
}

table
{
    font-size: 20px;
}

#answerTD
{
	min-width: 400px;
}

tr
{
	height: 75px;
}





